
.tabelka_menadzer_zamowien table, .tabelka_menadzer_zamowien table tr, .tabelka_menadzer_zamowien table tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
}

.tabelka_menadzer_zamowien table{
    max-width: 700px;
}

.zamowienie_zdjecie{
    width: 50px;
}

.tabelka_menadzer_zamowien select{
    width: 130px;
    height: 30px;
}

.tabelka_menadzer_zamowien ul{
    width: 130px;
    height: 30px;
}

.tabelka_menadzer_zamowien button{
    width: 130px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#zamowienia p{
    margin-top: 10px;
}

#zamowienia span{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 30px;
}

.dane_zamawiajacego, .dane_zamawiajacego tr, .dane_zamawiajacego tr td{
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 140px;
    text-align: center;
    padding: 3px;
}

.dane_zamawiajacego tr td{
    min-width: 80px;
    max-width: 200px;
}

.dane_zamawiajacego{
    margin-bottom: 10px;
}

.tabelaKsiazki_div table{
    min-width: 460px;
    max-width: 460px;
}

.tabelaKsiazki_div table tr td img{
    min-height: 80px;
    max-height: 80px;
}